.category {
  padding: 2rem;
  .category__btn {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .category__btn-filter {
      grid-column: span 4;
      background: transparent;
      border-color: transparent;
      font-size: 1rem;
      text-transform: capitalize;
      margin: 0 0.5rem;
      letter-spacing: 1px;
      padding: 0.375rem 0.75rem;

      cursor: pointer;
      @include transition(0.5s);
      border-radius: 0.2rem;

      &:hover {
        background: $orange-400;
        color: $white;
      }
    }
  }
}
